---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Navbar from '../components/Navbar';
---

<Layout title="Welcome to Astro.">
	<Header />
	<h1>Hello there</h1>
</Layout>

