---
import Layout from './src/layouts/Layout.astro';
import Header from './src/components/Header';
import Navbar from './src/components/Navbar';
---

<Layout title="Welcome to Astro.">
	<Header />
	<h1>Hello there</h1>
</Layout>

